@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .h1 {
    @apply text-[40px] -tracking-[0.03em] lg:text-[64px] lg:leading-[72px];
  }
  h2,
  .h2 {
    @apply text-[32px] -tracking-[0.02em] lg:text-[48px] lg:leading-[56px];
  }
  h3,
  .h3 {
    @apply text-[24px] lg:text-[36px] lg:leading-[44px];
  }
}

.layout {
  width: 100%;
  padding-left: max(24px, calc((100vw - 1152px) / 2));
  padding-right: max(24px, calc((100vw - 1152px) / 2));
}
